* {
  box-sizing: border-box;
}
body {
  font: 14px Tahoma, sans-serif;
}
.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

/* Header */
.header-wrapper {
  background-color: #11cde2;
  background: -webkit-linear-gradient(#128aa7 17%, #5ef0ff 17%, #5ef0ff 18%, #11cde2 18%, #fff);
  background: -o-linear-gradient(#128aa7 17%, #5ef0ff 17%, #5ef0ff 18%, #11cde2 18%, #fff);
  background: linear-gradient(#128aa7 17%, #5ef0ff 17%, #5ef0ff 18%, #11cde2 18%, #fff);
}
header {
  width: 1000px;
  margin: 0 auto;
  padding: 10px 25px 0 25px;
  background-color: #fff;
  box-shadow: 0 1px 4px #000;
}

/* Logotype */
.logo,
.info {
  width: 50%;
  color: #128aa7;
  font-size: 12px;
}
.logo {
  position: relative;
  float: left;
  display: block;
  text-decoration: none;
}
.logo span {
  position: absolute;
  top: 100px;
  left: 70px;
}
.info {
  float: right;
  text-align: right;
}

/* All contacts */
.contacts {
  display: inline-block;
  text-align: left; 
  margin-bottom: 30px;
}
.contacts h4 {
  font-weight: bold;
  padding-bottom: 5px;
}
.contacts a {
  display: block;
  text-decoration: none;
  line-height: 1.4em;
  color: #128aa7;
  font-size: 12px;
}

/* Menu for countries */
.countries li {
  display: inline-block;
}
.countries li a {
  display: block;
  width: 55px;
  color: #128aa7;
  font-size: 10px;
  padding-top: 45px;
  text-align: center;
}
.countries .india {
  background: url('../img/india.png') no-repeat top center;
}
.countries .nepal {
  background: url('../img/nepal.png') no-repeat top center;
}
.countries .tibet {
  background: url('../img/tibet.png') no-repeat top center;
}
.countries .bhutan {
  background: url('../img/bhutan.png') no-repeat top center;
}
.countries .sri-lanka {
  background: url('../img/sri-lanka.png') no-repeat top center;
}
.countries .maldives {
  background: url('../img/maldives.png') no-repeat top center;
}

/* Conteiner */
.container-wrapper {
  background-color: #11cde2;
  background: -webkit-linear-gradient(#11cde2 10%, #0c739f);
  background: -o-linear-gradient(#11cde2 10%, #0c739f);
  background: linear-gradient(#11cde2 10%, #0c739f);
}
.container {
  min-height: 400px;
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1px 4px #000;
}
.main-photo {
  border-top: 1px solid #138aa7;
  border-bottom: 1px solid #138aa7;
}
.main-photo img {
  display: block;
  width: 100%;
}

/* Central menu */
.main-menu {
  position: relative;
  z-index: 100;
  background-color: #333;
  padding: 0 25px;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 4px #000;
}
.main-menu > li {
  float: left;
  position: relative;
}
.main-menu > li > a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 0 35px;
}
.main-menu > li > a:hover {
  text-decoration: underline;
}
.main-menu .arrow:after {
  position: absolute;
  content: '\25be';
  color: #fff;
  right: 20px;
  bottom: 5px;
}
.submenu {
  display: none;
  position: absolute;
  left: 25px;
  top: 30px;
  width: 140px;
  padding: 0 10px 5px;
  background-color: #333;
  box-shadow: 0 6px 10px -1px #000;
}
.submenu > li {
  display: block;
}
.submenu > li > a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.submenu > li > a:hover {
  text-decoration: underline;
}
.main-menu > li:hover > .submenu {
  display: block;
}

/* Content with 3 columns */
.content .left,
.content .center,
.content .right {
  display: table-cell;
  padding: 10px 15px;
}
.content .left,
.content .right {
  width: 21%;
  background-color: #edeef0;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
}
.content .center {
  width: 58%;
}
.content h3 {
  text-align: center;
  font-size: 18px;
  color: #424c43;
  line-height: 26px;
}
.content p {
  color: #424c43;
  line-height: 24px;
}

/* Copyright */
.copyright {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}
.copyright a {
  text-decoration: none;
  color: #fff;
}