* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 13px 'Open Sans', Tahoma, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f9f9f9;
}
.wrapper {
  height: 100%;
  min-width: 1060px;
  display: table;
  margin: 0 auto;
  padding: 50px 50px 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.inner-wrapper {
  display: table-row;
  height: 100%;
}

/* Header */
.logo {
  display: block;
  margin-bottom: 35px; 
}
.top-menu {
  margin-bottom: 40px;
  background-color: #525151;
  list-style: none;
}
.top-menu li {
  display: inline-block;
}
.top-menu li a {
  display: block;
  text-decoration: none;
  border-left: 1px solid #525151;
  border-right: 1px solid #525151;
  color: #fff;
  padding: 0 55px 0 25px;
  line-height: 40px;
  font-size: 15px;
}
.top-menu li a:hover {
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  background-color: #383838;
}
.top-menu li:first-child a:hover {
  border-left: 1px solid #525151;
}

/* Content */
.content {
  margin-bottom: 55px;
}
.content aside, 
.content article {
  float: left;
}
.content:after{
  content:'';
  display:table;
  clear:both;
}
.content aside {
  width: 240px;
}
.content article {
  margin-left: 50px;
  width: 670px;
}
.sidebar {
  list-style: none;
}
.sidebar li {
  display: block;
  margin-bottom: -1px;
  border: 1px solid #c8c8c8;
}
.sidebar li a {
  display: block;
  text-decoration: none;
  color: #656363;
  padding-left: 25px;
  line-height: 40px;
}
.sidebar li a:hover {
  padding-left: 35px;
  color: #000;
  background-color: #f9f9f9;
}
.article-image {
  padding: 35px 85px;
  border: 1px solid #c8c8c8;
  margin-bottom: 35px;
}
.article-image img {
  width: 100%;
  max-width: 100%;
  display: block;
}
article p {
  color: #2c2c2c;
  padding: 0 25px;
  line-height: 22px;
}

/* Footer */
footer {
  padding-right: 25px;
  background-color: #e1e1e1;
  font-size: 0;
}
.bottom-menu {
  list-style: none;
  width: 70%;
  display: inline-block;
}
.bottom-menu li {
  display: inline-block;
}
.bottom-menu li a {
  display: block;
  padding: 0 65px 0 25px;
  text-decoration: none;
  line-height: 40px;
  color: #2c2c2c;
  font-size: 13px;
}
.bottom-menu li a:hover {
  text-decoration: underline;
}
.copyright {
  width: 30%;
  display: inline-block;
  text-align: right;
  font-size: 13px;
}